<a href="https://colab.research.google.com/github/francianerod/Python-SoulCode/blob/main/Python_SoulCode_02_03_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Escola**: SoulCode Academy

**Curso:** Bootcamp Analista de Dados - Martech - AD1

**Data:** 02 de março de 2023

**Professor:** Bismark William

**Aluna:** Franciane Rodrigues

### **Atividades: Listas**

1) Faça um Programa que leia uma lista de 5 números inteiros e mostre-os.

2) Faça um Programa que leia uma lista de 10 números reais e mostre-os na ordem inversa.

3) Faça um Programa que leia 4 notas de aluno e armazene-as dentro de uma lista. Em seguida mostre as notas e a média das notas na tela.

4) Faça um Programa que leia 20 números inteiros e armazene-os numa lista. Em seguida, crie mais 2 listas, uma para armazenar os números pares e outra para armazenar os números impares. Ao final, Imprima as três listas.

5) Faça um Programa que peça as quatro notas de 10 alunos junto com o seu nome. Calcule e armazene numa lista a média de cada aluno, bem como em outra lista armazene o nome do aluno. Ao final imprima o número de alunos com média maior ou igual a 7.0 junto com o seu nome e a média.

6) Faça um Programa que leia uma lista de 5 números inteiros. Após, percorra a lista e calcule a soma e a multiplicação dos números. Ao final, mostre os números lidos, a soma dos números e a multiplicação entre eles.

7) Faça um Programa que leia uma lista A com 10 números inteiros, calcule e mostre a soma dos quadrados dos elementos da lista.

8) Faça um programa que leia o nome, a idade e a altura de 10 alunos da SoulCode. Em seguida determine quantos alunos com mais de 13 anos possuem altura inferior à média de altura desses alunos.

9) Escreva um algoritmo em python que leia um número N positivo e preencha uma lista com os N primeiros números da sequência de Fibonacci

In [ ]:
# 1) Faça um Programa que leia uma lista de 5 números inteiros e mostre-os.
# Leia = receber os dados do usuário através do input
# append no final e insert inserir com localização

numeros = []

for i in range(5):
  numeros.append(int(input('Digite um número: ')))

for c in numeros:
  print(c)

In [ ]:
# 2) Faça um Programa que leia uma lista de 10 números reais e mostre-os na ordem inversa.
# sugestão: não coloque a função dentro do print

numeros = []

for i in range(10):
  n = float(input('Digite um número: '))
  numeros.append(n)

print(numeros)
numeros.reverse()
print(numeros)

#Observações do professor
#numero[inicio:fim:passo]
#numero[::-1]
#numero[0::2]
#numero[0:5:1]

In [ ]:
# 3) Faça um Programa que leia 4 notas de aluno e armazene-as dentro de uma lista. 
# Em seguida mostre as notas e a média das notas na tela.

notas = []
soma = 0

for i in range(4):
  nota = float(input(f'Digite a {i+1}ª nota: '))
  while nota < 0 or nota > 10:
    nota = float(input(f'Digite a {i+1}ª nota: '))
  
  notas.append(nota)

for i in notas:
  soma += i

media = soma / len(notas)

print(notas)
print(f'A media das notas digitadas foi {media:.2f}')

In [ ]:
# 4) Faça um Programa que leia 20 números inteiros e armazene-os numa lista. 
# Em seguida, crie mais 2 listas, uma para armazenar os números pares e outra para armazenar os números impares. 
# Ao final, Imprima as três listas.

'''
lista1 = [10, 8, 3, 19, 26, 13, 99, 118]

lista_par = [10, 8, 26, 118]
lista_impar = [3, 19, 13, 99]
'''

lista1 = []

for i in range(6):
  lista1.append(int(input(f'Digite o {i+1}º número: ')))

print('Lista1 = ',lista1)

lista_par = []
lista_impar = []

for i in lista1:
  if i % 2 == 0:
    lista_par.append(i)
  else:
    lista_impar.append(i)

print('Lista de Pares = ',lista_par)
print('Lista de ímpares = ',lista_impar)

In [ ]:
# 5) Faça um Programa que peça as quatro notas de 10 alunos junto com o seu nome. 
# Calcule e armazene numa lista a média de cada aluno, bem como em outra lista armazene o nome do aluno. 
# Ao final imprima o número de alunos com média maior ou igual a 7.0 junto com o seu nome e a média.

nome_alunos = []
notas_alunos = []
media_alunos = []
quantidade_alunos_acima_media = 0

for i in range(3): #for dos alunos
  soma_notas = 0
  nome_alunos.append(input(f'Digite o nome do {i+1}º aluno: '))
  notas = []
  for j in range(4): #for das notas
    nota = float(input(f'Digite a {j+1}ª nota do {i+1}º aluno: '))
    while nota < 0 or nota > 10:
      nota = float(input(f'Digite a {j+1}ª nota do {i+1}º aluno: '))

    notas.append(nota)
    soma_notas += nota
  
  notas_alunos.append(notas)
  media = soma_notas / 4
  media_alunos.append(media)

print(nome_alunos)
print(notas_alunos)
print(media_alunos)

for i in range(len(media_alunos)):
  if media_alunos[i] >= 7:
    print('Nome do Aluno: ', nome_alunos[i])
    print('Média do Aluno: ', media_alunos[i])
    quantidade_alunos_acima_media += 1

print(f'A quantidade de alunos acima da média 7 é igual a {quantidade_alunos_acima_media}')

In [ ]:
# 6) Faça um Programa que leia uma lista de 5 números inteiros. Após, percorra a lista e calcule a soma e a multiplicação dos números. 
# Ao final, mostre os números lidos, a soma dos números e a multiplicação entre eles.

numeros = [2, 2, 2, 2, 2]
soma = 0
mult = 1
div = numeros

for i in range(5):
  numeros.append(int(input(f'Digite o {i+1}º número: ')))

for valor in numeros:
  soma += valor
  mult *= valor

print(f'A soma dos números da lista de números é {soma}')
print(f'A multiplicação dos números da lista de números e {mult}')

In [ ]:
# 7) Faça um Programa que leia uma lista A com 10 números inteiros, calcule e mostre a soma dos quadrados dos elementos da lista.

numeros = []
soma_quadrados = 0

for i in range(4):
  numeros.append(int(input(f'Digite o {i+1}º número: ')))

for valor in numeros:
  soma_quadrados += (valor ** 2)

print(f'A soma dos quadrados dos números da lista é {soma_quadrados}')

In [ ]:
# 8) Faça um programa que leia o nome, a idade e a altura de 10 alunos da SoulCode. 
# Em seguida determine quantos alunos com mais de 13 anos possuem altura inferior à média de altura desses alunos.

nome_alunos = []
idade_alunos = []
altura_alunos = []
soma_alturas = 0
qtd_alunos = 0

for i in range(4):
  nome_alunos.append(input(f'Digite o nome do {i+1}º aluno: '))
  idade = int(input(f'Digite a idade do {i+1}º aluno: '))
  while idade < 0 or idade > 150:
    idade = int(input(f'Digite a idade do {i+1}º aluno: '))

  idade_alunos.append(idade)

  altura = float(input(f'Digite a altur ado {i+1}º aluno: '))
  while altura < 0.5 or altura > 3:
    altura = float(input(f'Digite a altur ado {i+1}º aluno: '))
  
  altura_alunos.append(altura)

for valor in altura_alunos:
  soma_alturas += valor

media_alturas = soma_alturas / len(altura_alunos)

for i in range(4):
  if idade_alunos[i] > 13 and altura_alunos[i] < media_alturas:
    qtd_alunos += 1

print(nome_alunos)
print(idade_alunos)
print(altura_alunos)
print(f'A quantidade de alunos maiores que 13 anos e menores que a media {media_alturas} é {qtd_alunos}')

In [ ]:
# 9) Escreva um algoritmo em python que leia um número N positivo e preencha uma lista com os N primeiros números da sequência de Fibonacci

### **Tuplas**

In [ ]:
lista_vogais = list(vogais)

type(lista_vogais)
print(lista_vogais)

lista_vogais.append('j')

vogais = tuple(lista_vogais)

print(vogais)

['a', 'e', 'i', 'o', 'u', 'j']
('a', 'e', 'i', 'o', 'u', 'j', 'j')

In [ ]:
len(vogais)

7

In [ ]:
vogais.count('j')

2

### **Dicionários**

In [ ]:
'''
indice -> valor
chave : valor qualquer
'str' : 'valor qualquer'
'nome':'Joaquim da Silva
'telefone' : '(11)00000-0000'
'cpf' : '333.333.333-33

'''

In [ ]:
# Declarar um dicionário

dicionario = {}

pessoa = {'nome': 'Joaquim da Silva',
          'telefone': '(11)33333-3333',
          'cpf': '000.000.000-00'
          }

# Coloca o nome da chave
pessoa['nome']

'Joaquim da Silva'

In [ ]:
telefones = ['(11)9.0000-0000', '(21)9.0000-0000', '(31)9.0000-0000']

telefones = {'sp': '(11)9.0000-0000', 'rj':'(21)9.0000-0000', 'mg': '(31)9.0000-0000' }

# Informação pela chave
print(telefones['rj'])

(21)9.0000-0000

In [ ]:
telefones = ['(11)9.0000-0000', '(21)9.0000-0000', '(31)9.0000-0000']

telefones = {'sp':['(11)9.0000-0000', '(11)9.0000-0001','(11)9.0000-0002'],
             'rj':'(21)9.0000-0000', 
             'mg': '(31)9.0000-0000' }

# Informação pela chave
print(telefones['sp'])

['(11)9.0000-0000', '(11)9.0000-0001', '(11)9.0000-0002']

In [ ]:
telefones = ['(11)9.0000-0000', '(21)9.0000-0000', '(31)9.0000-0000']

telefones = {'sp':['(11)9.0000-0000', '(11)9.0000-0001','(11)9.0000-0002'],
             'rj':'(21)9.0000-0000', 
             'mg': '(31)9.0000-0000' }

# Informação pela chave
print(telefones['sp'])
type(telefones['sp'])

for valor in telefones['sp']:
  print(valor)

['(11)9.0000-0000', '(11)9.0000-0001', '(11)9.0000-0002']
(11)9.0000-0000
(11)9.0000-0001
(11)9.0000-0002

In [ ]:
# Criar um dicionário contendo nome, modelo e marca de um carro
# como ficaria para colocar 4 carros

carros = {'nome': 'Gol', 'modelo': 'G4', 'marca':'volkswagen'}

print(carros)

print(carros['nome'])
print(carros['modelo'])
print(carros['marca'])

{'nome': 'Gol', 'modelo': 'G4', 'marca': 'volkswagen'}
Gol
G4
volkswagen

In [ ]:
#Criando uma lista de carros

lista_carros = [
    {'nome': 'Gol', 'modelo': 'G4', 'marca': 'volkswagen'},
    {'nome': 'Hylux', 'modelo': 'SW4', 'marca': 'toyota'},
    {'nome': 'Corolla', 'modelo': 'XEI', 'marca': 'toyota'},
    {'nome': 'Uno', 'modelo': 'Mille', 'marca': 'fiat'}
    ]

for valor in lista_carros:
  print('Nome:', valor['nome'])
  print('Modelo:', valor['modelo'])
  print('Marca:', valor['marca'])

Nome: Gol
Modelo: G4
Marca: volkswagen
Nome: Hylux
Modelo: SW4
Marca: toyota
Nome: Corolla
Modelo: XEI
Marca: toyota
Nome: Uno
Modelo: Mille
Marca: fiat

In [ ]:
carro = {'nome': ['Chevette','Fusca','Lamborghini','Ferrari'],
         'modelo':['celta','uno','hb20','toyota'],
         'marca':['chevrolet', 'fiat', 'hinday', 'toyota']   
}
print(carro['nome'])

carro['nome'][1]

for i in range(3):
  print(carro['nome'][i])

['Chevette', 'Fusca', 'Lamborghini', 'Ferrari']
Chevette
Fusca
Lamborghini

In [ ]:
# Uma família possui 3 filhos, cada um dos filhos deve ser chamado da seguinte maneira:
# filho1, filho2, filho3
# Para cada um devem ter anotados dados sobre o nome, idade, o ano da escola e os cursos que fizeram


lista_filhos = {
    'filho1' : {
        'nome' : 'Patrick Silva',
        'idade': 15,
        'ano_escola' : 1,
        'cursos' : ['Python', 'Banco de Dados', 'Análise de Dados com Python']
    },

    'filho2' : {
        'nome' : 'Melissa da Silva',
        'idade': 16,
        'ano_escola' : 2,
        'cursos' : ['Java Fullstack', 'Banco de Dados NoSQL']
    },

   'filho3' : {
        'nome' : 'Juscelino da Silva',
        'idade': 17,
        'ano_escola' : 3,
        'cursos' : ['Ingles','Análise de Dados com Python']
    }
}

In [ ]:
print(lista_filhos['filho1'])

print(lista_filhos['filho1']['cursos'])

print(lista_filhos['filho1']['cursos'][1])

{'nome': 'Patrick Silva', 'idade': 15, 'ano_escola': 1, 'cursos': ['Python', 'Banco de Dados', 'Análise de Dados com Python']}
['Python', 'Banco de Dados', 'Análise de Dados com Python']
Banco de Dados

In [ ]:
print(lista_filhos['filho2'])

# print(lista_filhos['filho1']['cursos'])

# print(lista_filhos['filho1']['cursos'][1])

{'nome': 'Melissa da Silva', 'idade': 16, 'ano_escola': 2, 'cursos': ['Java Fullstack', 'Banco de Dados NoSQL']}